<h2>Breweries</h2>
{{#if breweries}}
    <ul>
        {{#each breweries}}
            <li><a href="/breweries/{{id}}/beers">{{name}}</a>, {{city}} {{state}}</li>
        {{/each}}
    </ul>
{{else}}
    <p>No breweries!</p>
{{/if}}
